<article>
    <div class="imagen">
        <img width=100% src="/images/<%= product.image %>" alt="Imagen del Producto">
    </div>

    <div class="detalles">
        <i class="fas fa-truck"></i>
        <p class="precios">$<%= product.price %></p>
        <p class="descuentos"><%= product.descuento %>% OFF</p>
        <h3 class="nombre"><%= product.name %></h3>
    </div>

</article>