<!DOCTYPE html>
<html lang="en">

<%- include('partials/head') %>

<body>

    <%- include('partials/header') %>

    <main class="register">
        <form>

            <div class="nombre-apellido">
                <label for="nombre-apellido"></label>
                <input type="text" name="nombre" id="nombre-apellido" placeholder="Nombre y apellido">
            </div>

            <div class="nombre-usuario">
                <label for="nombre-usuario"></label>
                <input type="text" name="usuario" id="nombre-usuario" placeholder="Nombre de usuario" required>
            </div>

            <div class="correo-electronico">
                <label for="correo-electronico"></label>
                <input type="email" name="correo" id="correo-electronico" placeholder="Correo electrónico" required>
            </div>

            <div class="fecha-nacimiento">
                <h3>Fecha de nacimiento:</h3>
                <label for="fecha-nacimiento"></label>
                <input type="date" name="fecha" id="fecha-nacimiento">
            </div>

            <div class="nombre-domicilio">
                <label for="nombre-domicilio"></label>
                <input type="text" name="domicilio" id="nombre-domicilio" placeholder="Domicilio" required>
            </div>

            <div class="perfil-usuario">
                <h3>Perfil de usuario:</h3>
                <label for="perfil-usuario" required></label>
                <p><input type="radio" name="perfil" id="pefil-usuario" value="Vendedor"> Vendedor</p>
                <p><input type="radio" name="perfil" id="pefil-usuario" value="Comprador"> Comprador</p>
            </div>

            <div class="categorias-interes">
                <h3>Intereses:</h3>
                <label for="categorias-interes"></label>
                <p><input type="checkbox" name="categoria" id="categorias-interes" value="Electro"> Electro</p>
                <p><input type="checkbox" name="categoria" id="categorias-interes" value="Moda"> Moda</p>
                <p><input type="checkbox" name="categoria" id="categorias-interes" value="Hogar"> Hogar</p>
                <p><input type="checkbox" name="categoria" id="categorias-interes" value="Jugueteria"> Jugueteria</p>
                <p><input type="checkbox" name="categoria" id="categorias-interes" value="Vida sana"> Vida sana</p>
            </div>

            <div class="foto-usuario">
                <h3>Foto de perfil:</h3>
                <label for="foto-usuario"></label>
                <input type="file" name="foto" id="foto-usuario" accept=".jpg">
            </div>

            <div class="contrasenia-usuario">
                <label for="contrasenia-usuario"></label>
                <input type="password" name="contrasenia" id="contrasenia-usuario" placeholder="Contraseña" required>
            </div>

            <div class="confirmar-contrasenia">
                <label for="contrasenia-confirmar"></label>
                <input type="password" name="contrasenia" id="contrasenia-confirmar" placeholder="Confirmar contraseña"
                    required>
            </div>

            <div class="botones">
                <button type="submit" href="/" id="enviar-boton">Enviar</button>

                <button type="reset" id="reiniciar-boton">Reiniciar</button>
            </div>

        </form>
    </main>

    <%- include('partials/footer') %>

</body>

</html>